@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@100;300;400;500;700;800;900&display=swap");

/* Universal CSS Reset */

/* Remove default margin and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Alegreya Sans SC", sans-serif;
}

/* Set fonts to a consistent baseline */
body,
button,
input,
select,
textarea {
  font-family: Arial, Helvetica, sans-serif;
}

/* Remove list styles (bullets/numbers) */
ul,
ol {
  list-style: none;
}

/* Remove anchor text decoration */
a {
  text-decoration: none;
}

/* Reset header tags */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1em;
}

/* Reset form elements */
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
}

/* Standardize box-sizing */
html {
  box-sizing: border-box;
}

/* Style the root element */
html {
  font-size: 16px; /* You can adjust this to set your base font size */
}

/* Set up some basic styling */
body {
  line-height: 1.6;
}

/* Add your own custom styles below this line */

.custom-clip-path {
  clip-path: polygon(28% 0, 100% 0%, 100% 100%, 0% 100%);
}

@media only screen and (max-width: 800px) {
  .custom-clip-path {
    clip-path: polygon(0% 0, 100% 0%, 100% 100%, 0% 100%);
  }
}

/* navbar.css */

.mobile-menu-enter {
  opacity: 0;
  transform: translateX(-100%);
}

.mobile-menu-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}

.mobile-menu-exit {
  opacity: 1;
  transform: translateX(0);
}

.mobile-menu-exit-active {
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity 300ms, transform 300ms;
}

.banner {
  background-color: #3498db;
  color: red;
  text-align: center;
  padding: 20px;
  font-size: 24px;
}

/* custom-tooltip.css */
.custom-tooltip {
  max-width: 5000px;
  width: auto;
  white-space: nowrap;
  background-color: white;
}

body {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1098%26quot%3b)' fill='none'%3e%3cuse xlink:href='%23SvgjsSymbol1105' x='0' y='0'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsSymbol1105' x='720' y='0'%3e%3c/use%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1098'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cpath d='M-1 0 a1 1 0 1 0 2 0 a1 1 0 1 0 -2 0z' id='SvgjsPath1099'%3e%3c/path%3e%3cpath d='M-3 0 a3 3 0 1 0 6 0 a3 3 0 1 0 -6 0z' id='SvgjsPath1102'%3e%3c/path%3e%3cpath d='M-5 0 a5 5 0 1 0 10 0 a5 5 0 1 0 -10 0z' id='SvgjsPath1100'%3e%3c/path%3e%3cpath d='M2 -2 L-2 2z' id='SvgjsPath1103'%3e%3c/path%3e%3cpath d='M6 -6 L-6 6z' id='SvgjsPath1101'%3e%3c/path%3e%3cpath d='M30 -30 L-30 30z' id='SvgjsPath1104'%3e%3c/path%3e%3c/defs%3e%3csymbol id='SvgjsSymbol1105'%3e%3cuse xlink:href='%23SvgjsPath1099' x='30' y='30' stroke='rgba(231%2c 231%2c 231%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1100' x='30' y='90' stroke='rgba(231%2c 231%2c 231%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1100' x='30' y='150' stroke='rgba(231%2c 231%2c 231%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1101' x='30' y='210' stroke='rgba(231%2c 231%2c 231%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1102' x='30' y='270' stroke='rgba(231%2c 231%2c 231%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1101' x='30' y='330' stroke='rgba(231%2c 231%2c 231%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1100' x='30' y='390' stroke='rgba(231%2c 231%2c 231%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1100' x='30' y='450' stroke='rgba(231%2c 231%2c 231%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1100' x='30' y='510' stroke='rgba(231%2c 231%2c 231%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1100' x='30' y='570' stroke='rgba(231%2c 231%2c 231%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1100' x='90' y='30' stroke='rgba(231%2c 231%2c 231%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1101' x='90' y='90' stroke='rgba(231%2c 231%2c 231%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1100' x='90' y='150' stroke='rgba(231%2c 231%2c 231%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1101' x='90' y='210' stroke='rgba(231%2c 231%2c 231%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1101' x='90' y='270' stroke='rgba(231%2c 231%2c 231%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1101' x='90' y='330' stroke='rgba(231%2c 231%2c 231%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1102' x='90' y='390' stroke='rgba(231%2c 231%2c 231%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1100' x='90' y='450' stroke='rgba(231%2c 231%2c 231%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1103' x='90' y='510' stroke='rgba(231%2c 231%2c 231%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1101' x='90' y='570' stroke='rgba(231%2c 231%2c 231%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1103' x='150' y='30' stroke='rgba(231%2c 231%2c 231%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1101' x='150' y='90' stroke='rgba(231%2c 231%2c 231%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1100' x='150' y='150' stroke='rgba(231%2c 231%2c 231%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1100' x='150' y='210' stroke='rgba(231%2c 231%2c 231%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1101' x='150' y='270' stroke='rgba(231%2c 231%2c 231%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1101' x='150' y='330' stroke='rgba(231%2c 231%2c 231%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1100' x='150' y='390' stroke='rgba(231%2c 231%2c 231%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1099' x='150' y='450' stroke='rgba(231%2c 231%2c 231%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1103' x='150' y='510' stroke='rgba(231%2c 231%2c 231%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1100' x='150' y='570' stroke='rgba(231%2c 231%2c 231%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1100' x='210' y='30' stroke='rgba(231%2c 231%2c 231%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1100' x='210' y='90' stroke='rgba(231%2c 231%2c 231%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1100' x='210' y='150' stroke='rgba(231%2c 231%2c 231%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1103' x='210' y='210' stroke='rgba(231%2c 231%2c 231%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1104' x='210' y='270' stroke='rgba(231%2c 231%2c 231%2c 1)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1099' x='210' y='330' stroke='rgba(231%2c 231%2c 231%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1100' x='210' y='390' stroke='rgba(231%2c 231%2c 231%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1103' x='210' y='450' stroke='rgba(231%2c 231%2c 231%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1099' x='210' y='510' stroke='rgba(231%2c 231%2c 231%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1100' x='210' y='570' stroke='rgba(231%2c 231%2c 231%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1101' x='270' y='30' stroke='rgba(231%2c 231%2c 231%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1101' x='270' y='90' stroke='rgba(231%2c 231%2c 231%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1100' x='270' y='150' stroke='rgba(231%2c 231%2c 231%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1103' x='270' y='210' stroke='rgba(231%2c 231%2c 231%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1100' x='270' y='270' stroke='rgba(231%2c 231%2c 231%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1101' x='270' y='330' stroke='rgba(231%2c 231%2c 231%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1100' x='270' y='390' stroke='rgba(231%2c 231%2c 231%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1100' x='270' y='450' stroke='rgba(231%2c 231%2c 231%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1100' x='270' y='510' stroke='rgba(231%2c 231%2c 231%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1100' x='270' y='570' stroke='rgba(231%2c 231%2c 231%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1100' x='330' y='30' stroke='rgba(231%2c 231%2c 231%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1102' x='330' y='90' stroke='rgba(231%2c 231%2c 231%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1100' x='330' y='150' stroke='rgba(231%2c 231%2c 231%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1099' x='330' y='210' stroke='rgba(231%2c 231%2c 231%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1101' x='330' y='270' stroke='rgba(231%2c 231%2c 231%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1100' x='330' y='330' stroke='rgba(231%2c 231%2c 231%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1103' x='330' y='390' stroke='rgba(231%2c 231%2c 231%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1099' x='330' y='450' stroke='rgba(231%2c 231%2c 231%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1100' x='330' y='510' stroke='rgba(231%2c 231%2c 231%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1100' x='330' y='570' stroke='rgba(231%2c 231%2c 231%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1101' x='390' y='30' stroke='rgba(231%2c 231%2c 231%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1101' x='390' y='90' stroke='rgba(231%2c 231%2c 231%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1100' x='390' y='150' stroke='rgba(231%2c 231%2c 231%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1099' x='390' y='210' stroke='rgba(231%2c 231%2c 231%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1101' x='390' y='270' stroke='rgba(231%2c 231%2c 231%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1100' x='390' y='330' stroke='rgba(231%2c 231%2c 231%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1101' x='390' y='390' stroke='rgba(231%2c 231%2c 231%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1101' x='390' y='450' stroke='rgba(231%2c 231%2c 231%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1103' x='390' y='510' stroke='rgba(231%2c 231%2c 231%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1103' x='390' y='570' stroke='rgba(231%2c 231%2c 231%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1101' x='450' y='30' stroke='rgba(231%2c 231%2c 231%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1100' x='450' y='90' stroke='rgba(231%2c 231%2c 231%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1101' x='450' y='150' stroke='rgba(231%2c 231%2c 231%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1104' x='450' y='210' stroke='rgba(231%2c 231%2c 231%2c 1)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1100' x='450' y='270' stroke='rgba(231%2c 231%2c 231%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1103' x='450' y='330' stroke='rgba(231%2c 231%2c 231%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1099' x='450' y='390' stroke='rgba(231%2c 231%2c 231%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1103' x='450' y='450' stroke='rgba(231%2c 231%2c 231%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1100' x='450' y='510' stroke='rgba(231%2c 231%2c 231%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1100' x='450' y='570' stroke='rgba(231%2c 231%2c 231%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1101' x='510' y='30' stroke='rgba(231%2c 231%2c 231%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1102' x='510' y='90' stroke='rgba(231%2c 231%2c 231%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1100' x='510' y='150' stroke='rgba(231%2c 231%2c 231%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1102' x='510' y='210' stroke='rgba(231%2c 231%2c 231%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1101' x='510' y='270' stroke='rgba(231%2c 231%2c 231%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1104' x='510' y='330' stroke='rgba(231%2c 231%2c 231%2c 1)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1101' x='510' y='390' stroke='rgba(231%2c 231%2c 231%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1101' x='510' y='450' stroke='rgba(231%2c 231%2c 231%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1100' x='510' y='510' stroke='rgba(231%2c 231%2c 231%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1101' x='510' y='570' stroke='rgba(231%2c 231%2c 231%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1102' x='570' y='30' stroke='rgba(231%2c 231%2c 231%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1104' x='570' y='90' stroke='rgba(231%2c 231%2c 231%2c 1)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1104' x='570' y='150' stroke='rgba(231%2c 231%2c 231%2c 1)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1099' x='570' y='210' stroke='rgba(231%2c 231%2c 231%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1099' x='570' y='270' stroke='rgba(231%2c 231%2c 231%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1103' x='570' y='330' stroke='rgba(231%2c 231%2c 231%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1100' x='570' y='390' stroke='rgba(231%2c 231%2c 231%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1100' x='570' y='450' stroke='rgba(231%2c 231%2c 231%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1101' x='570' y='510' stroke='rgba(231%2c 231%2c 231%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1101' x='570' y='570' stroke='rgba(231%2c 231%2c 231%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1103' x='630' y='30' stroke='rgba(231%2c 231%2c 231%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1101' x='630' y='90' stroke='rgba(231%2c 231%2c 231%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1100' x='630' y='150' stroke='rgba(231%2c 231%2c 231%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1101' x='630' y='210' stroke='rgba(231%2c 231%2c 231%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1100' x='630' y='270' stroke='rgba(231%2c 231%2c 231%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1101' x='630' y='330' stroke='rgba(231%2c 231%2c 231%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1100' x='630' y='390' stroke='rgba(231%2c 231%2c 231%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1100' x='630' y='450' stroke='rgba(231%2c 231%2c 231%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1102' x='630' y='510' stroke='rgba(231%2c 231%2c 231%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1100' x='630' y='570' stroke='rgba(231%2c 231%2c 231%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1104' x='690' y='30' stroke='rgba(231%2c 231%2c 231%2c 1)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1104' x='690' y='90' stroke='rgba(231%2c 231%2c 231%2c 1)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1100' x='690' y='150' stroke='rgba(231%2c 231%2c 231%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1101' x='690' y='210' stroke='rgba(231%2c 231%2c 231%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1104' x='690' y='270' stroke='rgba(231%2c 231%2c 231%2c 1)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1100' x='690' y='330' stroke='rgba(231%2c 231%2c 231%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1100' x='690' y='390' stroke='rgba(231%2c 231%2c 231%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1103' x='690' y='450' stroke='rgba(231%2c 231%2c 231%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1100' x='690' y='510' stroke='rgba(231%2c 231%2c 231%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1103' x='690' y='570' stroke='rgba(231%2c 231%2c 231%2c 1)'%3e%3c/use%3e%3c/symbol%3e%3c/svg%3e");
}

/* width */
::-webkit-scrollbar {
  width: 16px;
  height: 16px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 100vh;
  background: #edf2f7;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #2a9d8f;
  border-radius: 100vh;
  border: 3px solid #edf2f7;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #457b9d;
}
